

body {
	padding:4px;	
	text-align:center;
	background-image: url("bg3.jpg");
	color: white;
	font-family: helvetica; 
}

header {
	text-align: center;
padding:10px;
margin: 40px 20px 0px 20px;
background-color:black;
background-size: cover;
}

nav {
	text-align: center;
padding:20px;
margin: 20px 20px 1px 20px;
background-color:black;
background-size: cover;
}

h1{
	font-size:70px;
}

p{
	font-size:20px;
}

img {
	width: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

input {
	border:1;
	width: 350px;
	font-size: 15px;
	padding:1px;
	margin: 0px 0px 10px 0px  ;
	}

input[type="submit"] {
	border:1;
	width: 80px;
	font-size: 15px;
	padding: 4px;
	background-color: red;
}

ul{
	padding:10px;
	background-color: 	#cc8624;
}

li{
	display: inline;
	padding: 0px 10px 0px 10px;
}

a{
	color: white;
	font-size: 30px
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
